NEXT_PUBLIC_SUPABASE_URL=https://hneehjanflbyajrpsdpf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SHELL_URL=http://localhost:3000
FINANCEIRO_APP_URL=http://localhost:3001
MISE_APP_URL=http://localhost:3008
OPERACAO_APP_URL=http://localhost:3003
COMPRAS_APP_URL=http://localhost:3004
NEXT_PUBLIC_APP_URL=http://localhost:3000
